* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  flex-wrap: nowrap;
}

header {
  font-family: sans-serif;
  flex-wrap: nowrap;
  z-index: 1000;
  width: 100%;
  height: 80px;
}

nav {
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  position: fixed;
  /* background-color: rgba(62, 57, 57, 0.436); */
  background-color: rgba(17, 16, 16, 0.735);
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.logo {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 700;
}

.marketing {
  color: rgb(21, 122, 200);
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 7px 20px;
  font-size: 1rem;
  position: relative;
}

.menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid rgb(21, 122, 200);
  transition: 0.4s linear;
}

.menu a:hover::before {
  width: 90%;
}
.register a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  background: rgb(21, 122, 200);
  border-radius: 8px;
}

.register a:hover {
  background: transparent;
  border: 2px solid rgb(21, 122, 200);
  transition: all 0.5s ease;
}

.h-txt {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(./images/marketing.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 100;
  text-align: center;
  padding-top: 4rem;
  padding-right: 1.5rem;
  color: white;
}

.h-txt form {
  padding-left: 33rem;
}

.h-txt h1 {
  font-size: 3em;
}

.h-txt p {
  font-size: 0.8em;
  line-height: 1.5;
}
/* how to remove border from form */
input {
  border: 0;
  outline: 0;
}
input:focus {
  outline: none !important;
}

#form {
  border-radius: 18px;
  box-shadow: 5px 5px 5px;
  display: block;
  padding-right: 20rem;
  margin-top: 1em;
  padding: 7px 14px;
  text-align: center;
  border: none;
}

#form:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  transition: 0.4s;
}

button {
  background: rgb(21, 122, 200);
  margin: 1em 1em 0;
  padding: 7px 20px;
  border-radius: 18px;
  border: none;
  text-decoration: none;
  color: white;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

button:hover {
  border: 2px solid rgb(21, 122, 200);
  cursor: pointer;
  color: white;
  background-color: transparent;
  transition: all 0.5s ease;
}

#services {
  width: 100%;
  height: 170vh;
  background-color: white;
}

#services h1 {
  font-size: 2em;
  text-align: center;
  padding-top: 4em;
  letter-spacing: 2px;
}

#services hr {
  width: 9%;
  background-color: rgb(21, 122, 200);
  height: 0.5vh;
  margin: 0 auto;
}

.services-p {
  font-size: 0.8em;
  line-height: 1.5;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: rgba(17, 16, 16, 0.735);
}

.parent-service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.kid-service {
  border: 2px solid rgb(210, 210, 210);
  padding: 2rem 5rem 2rem 2rem;
  margin: 2rem 3rem 5em 5rem;
  color: rgba(17, 16, 16, 0.735);
  box-shadow: 5px 5px 5px;
  background-color: white;
}

.kid-service h2 {
  font-size: 1.5rem;
  padding: 0.8em 0 0.8em 0;
  color: black;
}

.kid-service p {
  font-size: 0.8em;
  line-height: 1.5;
}

.kid-service:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(21, 122, 200);
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
  border-radius: 25px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
}

.child-team1 {
  padding: 2rem 2rem 2rem 2rem;
  /* margin: 2rem 3rem 5em 5rem; */
  margin-left: 4.9rem;
  margin-bottom: 2rem;
  color: black;
  /* box-shadow: 2px 2px 2px 2px; */
  background-color: white;
}

.child-team1 h2 {
  font-size: 2rem;
}

.child-team1 p {
  font-size: 0.8em;
  line-height: 1.7;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  color: rgba(17, 16, 16, 0.735);
}

.team-button a {
  text-decoration: none;
  color: white;
  padding-top: 2rem;
  padding: 10px 20px;
  font-size: 0.9rem;
  background: rgb(21, 122, 200);
  border-radius: 8px;
}

.team-button :hover {
  background: transparent;
  border: 2px solid rgb(21, 122, 200);
  transition: all 0.5s ease;
  color: black;
}

.child-team2 {
  border: 2px solid rgb(210, 210, 210);
  padding: 2rem 2rem 2rem 2rem;
  /* margin: 2rem 3rem 5em 5rem; */
  margin-left: 8.5rem;
  margin-bottom: 2rem;
  color: black;
  box-shadow: 5px 5px 5px;
  background-color: white;
}

.child-team2 h2 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
}

.child-team2 p {
  font-size: 0.8em;
  line-height: 1.7;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  color: rgba(17, 16, 16, 0.735);
}

.avatar1 {
  /* vertical-align: middle; */
  width: 80px;
  height: 80px;
  border-radius: 80%;
  border: 3px solid rgba(62, 57, 57, 0.436);
  justify-content: center;
  margin-left: 4rem;
}

.avatar2 {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 80%;
  border: 3px solid rgba(62, 57, 57, 0.436);
  justify-content: center;
  margin-left: 4rem;
}

@media (max-width: 860px) {
  .logo {
    font-size: 1.5rem;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .register a {
    padding: 7px 18px;
    font-size: 1rem;
  }
}

@media (max-width: 1260px) {
  .h-txt {
    top: 40%;
  }
}
