* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  flex-wrap: nowrap;
}

header {
  font-family: sans-serif;
  flex-wrap: nowrap;
  z-index: 1000;
  width: 100%;
  height: 80px;
}
html{
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  position: fixed;
  /* background-color: rgba(62, 57, 57, 0.436); */
  /* background-color: rgba(77, 40, 77, 0.735); */
  background-color: rgba(255, 255, 255, 0.872);
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.logo {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 700;
  color:  rgb(43, 24, 60);
}

.marketing {
  color:  blueviolet;
}

.menu a {
  text-decoration: none;
  color: rgb(43, 24, 60);
  padding: 7px 20px;
  font-size: 1rem;
  position: relative;
}

.menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid blueviolet;
  transition: 0.4s linear;
}

.menu a:hover::before {
  width: 90%;
}
.register a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  background:  rgb(43, 24, 60);
  border-radius: 8px;
}

.register a:hover {
  background: transparent;
  border: 2px solid  blueviolet;
  transition: all 0.5s ease;
  color: blueviolet;
}

.h-txt {
  background: linear-gradient(rgba(48, 14, 73, 0.8), rgba(140, 0, 255, 0.2)),
    url(./images/marketing.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 100;
  text-align: center;
  padding-top: 4rem;
  padding-right: 1.5rem;
  color: white;
}

.h-txt form {
  padding-left: 33rem;
}

.h-txt h1 {
  font-size: 4em;
}

.h-txt p {
  padding-top: 0.8rem;
  font-size: 1em;
  line-height: 1.7;
}
/* how to remove border from form */
input {
  border: 0;
  outline: 0;
}
input:focus {
  outline: none !important;
}

#form {
  border-radius: 18px;
  box-shadow: 5px 5px 5px black;
  display: block;
  padding-right: 20rem;
  margin-top: 1em;
  padding: 7px 14px;
  text-align: center;
  border: none;
}

#form:hover {
  cursor: pointer;
  background-color: whitesmoke;
  border: 2px solid white;
  transition: 0.4s;
  color: rgb(0, 0, 0);
}

button {
  background-color: rgb(43, 24, 60);
  margin: 1em 1em 0;
  padding: 8px 21px;
  border-radius: 18px;
  border: 2px solid white;
  text-decoration: none;
  color: white;
}

button a {
  text-decoration: none;
  color:white;
  font-size: 0.9em;
}

button:hover {
  border: 2px solid  rgb(128, 51, 201);
  cursor: pointer;
  color: white;
  background-color: blueviolet;
  transition: all 0.5s ease;
}

#services {
  width: 100%;
  height: 255vh;
  background-color: white;
}

#services h1 {
  font-size: 2.7em;
  text-align: center;
  padding-top: 2.5em;
  letter-spacing: 2px;
}

#services hr {
  width: 9%;
  background-color:  blueviolet;
  height: 0.5vh;
  margin: 0 auto;
}

.services-p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: rgba(17, 16, 16, 0.735);
}

.service-1{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.first-service-image{
  background-image:  url(./images/freelancers1.jpg);
  background-size: cover;
  background-position: center;
  width: 55%;
  height: 45vh;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 0 70px 0 70px;
}

.first-service-image:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(103, 22, 128, 0.5)), url(./images/freelancers1.jpg);
  cursor: pointer;
  border-radius: 50px 0px 50px 0px;
  transition: 0.4s all ease-in-out;
}

.first-service-p-title{
  font-size: 1.5rem;
  margin: 3rem 5rem 1rem 0;
}

.first-service-p-title span{
  color: blueviolet;
  font-weight: 700;
}

.first-service-p-p{
  font-size: 1em;
  line-height: 2;
  padding-bottom: 2rem;
  /* margin-left: 1rem; */
  color: rgba(17, 16, 16, 0.735);
}

.service-1-button a {
  text-decoration: none;
  color: white;
  padding-top: 2rem;
  padding: 10px 20px;
  font-size: 0.9rem;
  background: blueviolet;
  border-radius: 8px;
  /* margin-left: 1rem; */
}

.service-1-button :hover {
  background: white;
  border: 2px solid blueviolet;
  transition: all 0.5s ease;
  color: blueviolet;
}


.service-2{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.second-service-p-title{
  font-size: 1.5rem;
  margin: 3rem 2em 0 2rem;
}

.second-service-p-title span{
  color: blueviolet;
  font-weight: 700;
}

.second-service-p-p{
  font-size: 1em;
  line-height: 2;
  padding-bottom: 2rem;
  padding-top: 1rem;
  color: rgba(17, 16, 16, 0.735);
  margin-left: 2rem;
}

.service-2-button a {
  text-decoration: none;
  color: white;
  padding-top: 2rem;
  padding: 10px 20px;
  font-size: 0.9rem;
  background: blueviolet;
  border-radius: 8px;
  margin-left: 2rem;
}

.service-2-button :hover {
  background: white;
  border: 2px solid blueviolet;
  transition: all 0.5s ease;
  color: blueviolet;
}

.second-service-image{
  background-image:  url(./images/freelancers2.jpg);
  background-size: cover;
  background-position: center;
  width: 55%;
  height: 45vh;
  margin-top: 3rem;
  margin-left: 0rem;
  margin-right: 3rem;
  border-radius: 0 70px 0 70px;
}

.second-service-image:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(103, 22, 128, 0.5)), url(./images/freelancers2.jpg);
  cursor: pointer;
  border-radius: 50px 0px 50px 0px;
  transition: 0.4s all ease-in-out;
}

.service-container{
  text-align: center;
  padding-top: 5rem;
}

.service-container h2{
  font-size: 2rem;
  color: rgb(43, 24, 60);
}

.service-container p{
  font-size: 1rem;
  color: rgba(17, 16, 16, 0.735);
  padding-top: 1rem;
  line-height: 2;
}

.serve-cont{
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  margin: 4rem;
  align-items: center;
}

.serve-content img{
  width: 5rem;
  height: 5rem;
  /* padding-bottom: 0.9rem; */
}

.serve-cont p{
  color: rgba(17, 16, 16, 0.735) ;
  line-height: 2;

}

.serve-content-special{
  background-color: rgb(244, 233, 255);
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

.serve-content-special img{
  width: 5rem;
  height: 5rem;
}

#about{
  width: 100%;
  height: 430vh;
  background-color: white;
}

.about-image{
  background-image: linear-gradient(rgba(48, 14, 73, 0.8),rgba(35, 34, 63, 0.8)), url(/images/about-img.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: 8rem;
  color: white;
  text-align: center;
}

.about-write h1{
  padding-top: 10rem;
  font-size: 4rem;
}

.about-write p{
  font-size: 1em;
  line-height: 2;
  color: white;
  padding-top: 1rem;
}

.about-assurance{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 6rem;
}

.about-assurance h3{
  font-size: 1.3rem;
  color: rgb(43, 24, 60);
  padding-bottom: 1rem;
}

.about-assurance p{
  font-size: 1rem;
  color:rgba(17, 16, 16, 0.735) ;
  line-height: 2;
}

.search-illustration{
  background-image: url(./images/search-illustration.jpg);
  background-position: center;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

.partnership-illustration{
  background-image: url(./images/partnership-illustration.jpg);
  background-position: center;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

.revenue-illustration{
  background-image: url(./images/revenue-illustration.jpg);
  background-position: center;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}


.story{
  background-color: rgb(247,247,247);
  color: rgb(43, 24, 60);
  height: 90vh;
  text-align: center;
}

.story h3{
  padding-top: 6.5rem;
  font-size: 2.7em;
  padding-bottom: 1rem;
}

.story p{
  font-size: 1rem;
  color:rgba(17, 16, 16, 0.735) ;
  line-height: 2;
}

.agent{
  justify-content: center;
}

.agent h1{
  padding-top: 6.5rem;
  font-size: 2.7em;
  padding-bottom: 2rem;
  text-align: center;
}

.parent-agent{
  display: flex ;
  flex-wrap: nowrap;
  padding: 5rem ;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 2rem;
  background-color:rgb(247,247,247);
  border-radius: 20px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  line-height: 2;
}

.parent-agent h2{
  color: Black;
  font-size: 1rem;
}


.parent-agent p{
  color:rgba(17, 16, 16, 0.735) ;

}



.agent1 img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;
  border: 4px solid rgb(43, 24, 60);
}

.agent2 img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;
  border: 4px solid rgb(43, 24, 60);
}

.agent3 img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;
  border: 4px solid rgb(43, 24, 60);
}

.agent4 img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;
  border: 4px solid rgb(43, 24, 60);
}

.agent-button{
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  font-size: 0.9rem;
  background: rgb(43, 24, 60);
  border-radius: 8px;
  margin-left: 34rem;
}

.agent-button:hover {
  background: white;
  border: 2px solid blueviolet;
  transition: all 0.5s ease;
  color: blueviolet;
  cursor: pointer;
}

footer {
  min-height: 80vh;
  background-color:rgb(43, 24, 60) ;
  margin-top: 3rem;
  color : white;
}

@media (max-width: 860px) {
  .logo {
    font-size: 1.5rem;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .register a {
    padding: 7px 18px;
    font-size: 1rem;
  }
}

@media (max-width: 1260px) {
  .h-txt {
    top: 40%;
  }
}
