* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(32,54,75);
}

.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color:white ;
    text-decoration: none;
    font-weight: 700; 
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: lighter;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height:2px;
    background: rgb(249,195,33);
    transition: .3s;
    
}

.navbar a:hover::before{
    width: 100%;
}